@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

.navbar {
    margin-bottom: 20px;
    background-color: hsl(209, 77%, 23%);
    overflow: hidden;
    box-shadow: 0 4px 10px 0 black;
}

.navbar a {
    float: left;
    color: hsl(48, 83%, 89%);
    padding: 15px 15px;
    font-size: 20px;
}

.navbar a.active{
    background-color: hsl(10, 94%, 60%);
}

.navbar a:hover {
    background-color: hsl(48, 83%, 89%);
    color: hsl(209, 77%, 23%);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: hsl(10, 94%, 60%);
    padding: 15px 40px;
    margin: 10px;
    width: 150px;
    box-shadow: 0 4px 10px 0 black;
    text-align: center;
    
}

.card:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

div {
    border-radius: 15px;
}

body {
    background-color: hsl(28, 83%, 61%);
    font-family: 'Dokdo', serif;
}

hr {
    border: 10px solid hsl(47, 87%, 66%);
    border-radius: 15px;
}

h2 {
    font-size: 35px;
    color: black;
}

p {
    font-size: 35px;
}

.footer {
    margin-top: auto;
    margin-bottom: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: hsl(209, 77%, 23%);
    color: hsl(48, 83%, 89%);
    text-align: center;
    box-shadow: 0 4px 10px 0 black;
}