@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.grid-container {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1.5fr 0.2fr;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
  gap: 0.2rem;
}

/* navbar styles */

.header {
  background-color: #540b0e;
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-family: 'Tenor Sans', sans-serif;  
  font-size: 1rem;
  text-transform: uppercase;  
  color: #e09f3e;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 70%;
  list-style: none;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

a {
  font-family: 'Tenor Sans', sans-serif;
   color: #fff3b0;
   text-decoration: none;
   font-size: 1.2rem;
   text-transform: uppercase;
}

a:hover {
    color: #e09f3e;
}

/* main content styles */

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

h2 {
  text-align: center;
}

.main, .sidebar {
  background-color: #fff3b0;
  padding: 10px;
  font-family: 'Tenor Sans', sans-serif;
  line-height: 1.5;
}

ul {
  margin: 30px;
}

.footer {
  background-color: #540b0e;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tenor Sans', sans-serif;
  color: #e09f3e;
  text-align: center;
}

/* responsive */

@media only screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 2fr 75px;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
  
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    margin-top: 15px;
  }
  
  .nav {
    width: 100%;
    margin: 10px auto;
  }
}
