@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/indoor.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 3px 1fr 0.5fr 0.5fr auto;
  grid-template-areas:
    "logo nav"
    "line line"
    "main main"
    "menu menu "
    "socmed socmed"
    "footer footer";
}

.logo {
  padding: 20px;
  background: linear-gradient(to top, black, #3c1518);
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: #FC0 1px 0 10px;
  font-family: 'Tenor Sans', sans-serif;
  color: #e09f3e
}

.nav {
  padding: 20px;
  background: linear-gradient(to top, black, #3c1518);
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-button {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.2rem;
  color: #f2f3ae;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #e09f3e;
}

.line {
  grid-area: line;
  background: linear-gradient(45deg, red, blue);
}

.main {
  grid-area: main;
}

.contents, .menu-contents, .socmed-contents {
  font-family: Quicksand, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content1, .menu-content1, .socmed-content1 {
  max-width: 700px;
  margin: 2rem;
  padding: 50px;
  border-radius: 5px;
  line-height: 2;
  background-color: white;
}

.menu {
  grid-area: menu;
}

.socmed {
  grid-area: socmed;
}

.footer {
  padding: 20px;
  background: linear-gradient(to bottom, black, #3c1518);
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tenor Sans', sans-serif;
  text-align: center;
  color: #f2f3ae
}

@media only screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3px 0.4fr 2fr 0.5fr 0.5fr 0.4fr;
    grid-template-areas:
      "logo"
      "line"
      "nav"
      "main"
      "menu"
      "socmed"
      "footer";
  }
  
  .logo {
    background: linear-gradient(to bottom, black, #3c1518);
  }
}